In [1]:
import pandas as pd
import numpy as np
import pyreadstat

base=pd.read_spss('rawdata/BDDHabitaclia_4043_join.sav')
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4043 entries, 0 to 4042
Columns: 203 entries, OBJECTID_1 to EPC_G_emision_2023
dtypes: category(1), float64(189), object(13)
memory usage: 6.2+ MB

Reviso los nombres de las columnas

In [2]:
print(base.columns.tolist())

['OBJECTID_1', 'codigo_inmueble1', 'Title', 'Type_build', 'Type_opera', 'Link', 'Location', 'Lat_X', 'Lon_Y', 'Climatic_Z', 'Nom_Mun', 'precio_eur', 'superficie', 'superficie_2', 'Unit_price', 'Ln_total_pr', 'Ln_unit_pr', 'numero_habitaciones', 'numero_bano', 'ratio_bano_hab', 'numero_aseo', 'ascensor', 'interac_planta', 'numero_de_piso', 'anyo_constr', 'anyo_constr_ponderad', 'antig_ponderad', 'Inverse_Age', 'Year_Before_1981', 'Year_1982_2006', 'Year_After_2007', 'superficie_terraza_m2', 'grand_terr_20m2', 'superficie_jardin_m2', 'superficie_salon', 'bool_despacho', 'bool_buhardilla', 'bool_trastero', 'bool_lavadero', 'bool_piscina_comunitaria', 'bool_jardin_comunitario', 'bool_amueblado', 'bool_ascensor', 'descripcion', 'bool_aire_acondicionado', 'bool_calefaccion', 'bool_chimenea', 'texto_destacado', 'Description', 'calificacion_consumo_letra', 'calificacion_consumo_valor', 'calificacion_emision_letra', 'calificacion_emision_valor', 'Dum_EPC', 'EPC_A_emision', 'EPC_B_emision', 'EPC_C_emision', 'EPC_D_emision', 'EPC_E_emision', 'EPC_F_emision', 'EPC_G_emision', 'COD_MUN', 'temp_enero', 'temp_julio', 'radiacion_enero', 'radiacion_julio', 'POB_91', 'POB_01', 'POB_06', 'POR_01', 'LTL1991_M', 'LTL_2001', 'DLTL_MUN', 'RW', 'FLE', 'FLS', 'SUP_URB_90', 'SUP_URB_00', 'Job_ratio_01', 'Autocontencion_01', 'Nodalidad_01', 'Dist_CBD', 'Dist_CBD2', 'Dist_sub_center', 'Elevation_Mean', 'dum_acces_viappal', 'IND_pr', 'FIRE_pr', 'Div_LandUse', 'COD_SEC', 'pr_directivo', 'pr_tecnico_prof', 'pr_tecnico_apoyo', 'pr_empl_admin', 'pr_restaur_comer', 'pr_agri_calificado', 'pr_artesano', 'pr_operador', 'pr_no_calif', 'desplaz_ponderado', 'plant_ras_pond', 'edif_ruin_pr', 'edif_malo_pr', 'edif_deficient_pr', 'edif_bueno_pr', 'Doorman_pr', 'opin_ruido_si_pr', 'opin_contam_si_pr', 'opin_calle_sucia_pr', 'opin_mala_comunic_pr', 'opin_pocazonaverde_pr', 'opin_delincuencia_pr', 'opin_falta_aseo_pr', 'local_salud_pr', 'local_edu_pr', 'local_social_pr', 'local_cult_pr', 'local_comerc_pr', 'local_oficinas_pr', 'local_industr_pr', 'local_agrar_pr', 'POB_TOTAL', 'POB_RESID', 'LOC_TOTAL', 'POR_TOTAL', 'LOC_VIV_TOTAL', 'dens_loc_100hab', 'dens_loc_sup', 'dens_pob_sup', 'estud_sin_pr', 'estud_primer_pr', 'estud_segund_pr', 'estud_tercer_pr', 'VIV_ppales_TOTAL', 'Sup_viv_sec', 'viv_ppales_pr', 'viv_no_ppales_pr', 'viv_secundarias_pr', 'viv_vacias_pr', 'viv_unifam_pr', 'viv_aptos_pr', 'resi_euro_pr', 'resi_africa_pr', 'resi_america_pr', 'resi_asia_pr', 'resi_oceania_pr', 'H_ocup_POR', 'H_loc_INE', 'H_tamaviv', 'H_ocup_POR_Xpor', 'H_loc_INE_XLOCS', 'H_tamaviv_Xvivs', 'CT_renta_alta_CPA', 'CT_renta_meda_CPA', 'CT_renta_medb_CPA', 'Income_Household_2016', 'DP2e', 'Dens_Time_total', 'Dens_Time_total_work', 'Dens_Time_total_Nwork', 'Dens_pers_act_total', 'Dens_pers_act_working', 'Dens_pers_act_Nworking', 'Div_total_work', 'Div_act_work', 'Div_socio_work', 'Div_total_Nwork', 'Div_act_Nwork', 'Div_socio_Nwork', 'calidad_cocina', 'diseny_cocina', 'alta_calidad', 'reform_inmob', 'dum_mar_200m', 'dum_ttpp_riel_urb', 'dist_near_riel_km', 'dist_near_viappal_km', 'C_contempo', 'C_estado', 'C_armarios', 'B_contempo', 'B_estado', 'B_lavamano', 'R_contempo', 'R_estado', 'R_carpinte', 'R_singular', 'R_ventana', 'Dum_precio', 'Precio_red', 'scrap_year', 'persona', 'filter_$', 'FAC1_1', 'FAC2_1', 'Muestra_2023', 'EPC_A_emision_2023', 'EPC_B_emision_2023', 'EPC_C_emision_2023', 'EPC_D_emision_2023', 'EPC_E_emision_2023', 'EPC_F_emision_2023', 'EPC_G_emision_2023']

En su modelo, Carlos usa las siguientes variables.

In [3]:
# Seleccionar las columnas especificadas
selected_columns = ['Ln_total_pr','Muestra_2023', 'EPC_C_emision', 'EPC_F_emision', 'EPC_B_emision', 'EPC_A_emision', 'EPC_D_emision', 
                    'EPC_G_emision', 'EPC_E_emision', 'superficie', 'CT_renta_alta_CPA', 'superficie_2', 
                    'bool_ascensor', 'bool_piscina_comunitaria', 'bool_calefaccion', 
                    'desplaz_ponderado', 'Income_Household_2016', 'FIRE_pr', 'FAC1_1', 'FAC2_1', 
                    'grand_terr_20m2', 'Year_After_2007', 'CT_renta_meda_CPA', 'DP2e', 'dum_mar_200m', 
                    'bool_aire_acondicionado', 'Precio_red', 'ratio_bano_hab', 'Year_1982_2006', 'opin_ruido_si_pr', 
                    'Dist_CBD2', 'H_tamaviv', 'interac_planta']

#FAC1_1 y FAC2_1 hacen referencia a 'Estado_contemporaneidad_calidad' y 'Ausencia_singulares_presencia_arm_cocina'

# Seleccionar las columnas y ordenarlas alfabéticamente
bdd = base[selected_columns].sort_index(axis=1)

# Muestra el DataFrame resultante
bdd.head()

,CT_renta_alta_CPA,CT_renta_meda_CPA,DP2e,Dist_CBD2,EPC_A_emision,EPC_B_emision,EPC_C_emision,EPC_D_emision,EPC_E_emision,EPC_F_emision,...,bool_calefaccion,bool_piscina_comunitaria,desplaz_ponderado,dum_mar_200m,grand_terr_20m2,interac_planta,opin_ruido_si_pr,ratio_bano_hab,superficie,superficie_2
0,0.179265,0.629695,14.304224,3.143035,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,27.187629,0.0,1.0,2.0,43.530314,1.000000,86.0,7396.0
1,-0.400132,0.678419,9.873995,3.868774,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,26.831497,0.0,0.0,3.0,41.376779,0.666667,97.0,9409.0
2,-0.763527,0.215970,11.400419,4.517012,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,27.542064,0.0,0.0,-3.0,36.155690,0.666667,77.0,5929.0
3,-0.520908,0.403254,11.540736,3.539149,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,27.909746,0.0,0.0,2.0,36.451325,0.500000,95.0,9025.0
4,-0.069044,1.017454,11.120200,5.277817,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,24.657258,0.0,0.0,2.0,41.172813,0.750000,163.0,26569.0

Luego, hizo un filtro para eliminar outliers.

In [4]:
df = bdd[(bdd['Ln_total_pr'] >= 11.2842035426135) & (bdd['Ln_total_pr'] <= 13.8409882055083)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3859 entries, 0 to 4042
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CT_renta_alta_CPA         3859 non-null   float64
 1   CT_renta_meda_CPA         3859 non-null   float64
 2   DP2e                      3859 non-null   float64
 3   Dist_CBD2                 3859 non-null   float64
 4   EPC_A_emision             3859 non-null   float64
 5   EPC_B_emision             3859 non-null   float64
 6   EPC_C_emision             3859 non-null   float64
 7   EPC_D_emision             3859 non-null   float64
 8   EPC_E_emision             3859 non-null   float64
 9   EPC_F_emision             3859 non-null   float64
 10  EPC_G_emision             3859 non-null   float64
 11  FAC1_1                    3859 non-null   float64
 12  FAC2_1                    3859 non-null   float64
 13  FIRE_pr                   3859 non-null   float64
 14  H_tamaviv                 3859 non-null   float64
 15  Income_Household_2016     3859 non-null   float64
 16  Ln_total_pr               3859 non-null   float64
 17  Muestra_2023              3859 non-null   float64
 18  Precio_red                3859 non-null   float64
 19  Year_1982_2006            3859 non-null   float64
 20  Year_After_2007           3859 non-null   float64
 21  bool_aire_acondicionado   3859 non-null   float64
 22  bool_ascensor             3859 non-null   float64
 23  bool_calefaccion          3859 non-null   float64
 24  bool_piscina_comunitaria  3859 non-null   float64
 25  desplaz_ponderado         3859 non-null   float64
 26  dum_mar_200m              3859 non-null   float64
 27  grand_terr_20m2           3859 non-null   float64
 28  interac_planta            3859 non-null   float64
 29  opin_ruido_si_pr          3859 non-null   float64
 30  ratio_bano_hab            3852 non-null   float64
 31  superficie                3859 non-null   float64
 32  superficie_2              3859 non-null   float64
dtypes: float64(33)
memory usage: 1.0 MB

In [5]:
import statsmodels.api as sm

# Eliminar filas con valores infinitos o NaN en las variables independientes (X) y dependiente (y)
df = df.replace([np.inf, -np.inf], np.nan).dropna()  #Me he dado cuenta que hay filas vacías, las elimino.

# Definir las variables independientes (X) y dependiente (y)
X = df.drop('Ln_total_pr', axis=1)  # Todas las columnas excepto 'Ln_total_pr'
y = df['Ln_total_pr']  # Columna 'Ln_total_pr'

# Agregar una constante a la matriz X para el término de intercepción del modelo
X = sm.add_constant(X)

# Crear el modelo de regresión lineal
model = sm.OLS(y, X)

# Ajustar el modelo a los datos
results = model.fit()

# Imprimir el resumen del modelo
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Ln_total_pr   R-squared:                       0.883
Model:                            OLS   Adj. R-squared:                  0.882
Method:                 Least Squares   F-statistic:                     901.0
Date:                Wed, 07 Feb 2024   Prob (F-statistic):               0.00
Time:                        14:14:33   Log-Likelihood:                 929.80
No. Observations:                3852   AIC:                            -1794.
Df Residuals:                    3819   BIC:                            -1587.
Df Model:                          32
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       10.9711      0.091    120.837      0.000      10.793      11.149
CT_renta_alta_CPA            0.0996      0.016      6.387      0.000       0.069       0.130
CT_renta_meda_CPA            0.0573      0.007      7.851      0.000       0.043       0.072
DP2e                         0.0148      0.002      5.967      0.000       0.010       0.020
Dist_CBD2                   -0.0071      0.002     -3.138      0.002      -0.011      -0.003
EPC_A_emision                0.0496      0.025      2.006      0.045       0.001       0.098
EPC_B_emision                0.1730      0.027      6.391      0.000       0.120       0.226
EPC_C_emision                0.0374      0.022      1.681      0.093      -0.006       0.081
EPC_D_emision               -0.0513      0.015     -3.426      0.001      -0.081      -0.022
EPC_E_emision                0.0021      0.007      0.290      0.772      -0.012       0.016
EPC_F_emision                0.0038      0.015      0.260      0.795      -0.025       0.033
EPC_G_emision                0.0052      0.013      0.399      0.690      -0.020       0.031
FAC1_1                       0.0566      0.004     15.854      0.000       0.050       0.064
FAC2_1                       0.0255      0.003      7.852      0.000       0.019       0.032
FIRE_pr                      0.0119      0.002      7.873      0.000       0.009       0.015
H_tamaviv                    0.0976      0.029      3.362      0.001       0.041       0.154
Income_Household_2016     7.244e-06   5.11e-07     14.173      0.000    6.24e-06    8.25e-06
Muestra_2023                 0.0026      0.007      0.355      0.723      -0.012       0.017
Precio_red                 1.56e-07   3.33e-08      4.682      0.000    9.07e-08    2.21e-07
Year_1982_2006               0.0350      0.012      2.922      0.003       0.012       0.058
Year_After_2007              0.1231      0.016      7.568      0.000       0.091       0.155
bool_aire_acondicionado      0.0309      0.007      4.324      0.000       0.017       0.045
bool_ascensor                0.1024      0.013      7.809      0.000       0.077       0.128
bool_calefaccion             0.0432      0.007      5.923      0.000       0.029       0.058
bool_piscina_comunitaria     0.1710      0.019      9.088      0.000       0.134       0.208
desplaz_ponderado           -0.0192      0.002     -8.494      0.000      -0.024      -0.015
dum_mar_200m                 0.2777      0.040      6.904      0.000       0.199       0.357
grand_terr_20m2              0.0981      0.012      7.889      0.000       0.074       0.122
interac_planta               0.0034      0.002      2.240      0.025       0.000       0.006
opin_ruido_si_pr             0.0016      0.001      2.838      0.005       0.000       0.003
ratio_bano_hab               0.0549      0.014      3.809      0.000       0.027       0.083
superficie                   0.0145      0.000     46.266      0.000       0.014       0.015
superficie_2             -3.046e-05   1.18e-06    -25.902      0.000   -3.28e-05   -2.82e-05
==============================================================================
Omnibus:                      132.311   Durbin-Watson:                   1.845
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              299.480
Skew:                          -0.191   Prob(JB):                     9.30e-66
Kurtosis:                       4.312   Cond. No.                     3.23e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.23e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [6]:
import numpy as np

# Calcular y_pred (valores predichos por el modelo)
y_pred = results.predict(X)

# Calcular el error estándar de la estimación (SEE o RMSE)
rmse = np.sqrt(results.mse_resid)

# Calcular el error absoluto medio (MAE)
mae = np.mean(np.abs(y - y_pred))

# Imprimir las métricas
print("Error estándar de la estimación (RMSE):", rmse)
print("Error absoluto medio (MAE):", mae)

Error estándar de la estimación (RMSE): 0.19089770514695886
Error absoluto medio (MAE): 0.14451785358103253

In [ ]:
# Predicciones del modelo OLS
y_pred_ols = results.predict(X)

# Calcular MAE
mae_ols = mean_absolute_error(y_test, y_pred_ols)

# Calcular RAE
rae_ols = mae_ols / np.mean(np.abs(y_test))

# Calcular RMSE
rmse_ols = np.sqrt(mean_squared_error(y_test, y_pred_ols))

# Calcular RRSE
rrse_ols = rmse_ols / np.std(y_test)

# Imprimir las métricas
print("OLS - MAE:", mae_ols)
print("OLS - RAE:", rae_ols)
print("OLS - RMSE:", rmse_ols)
print("OLS - RRSE:", rrse_ols)

## Red neuronal

In [7]:
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

#Para el OLS hice un filtro sobre los datos, porque es sensible a outliers; los RF, no.

# Eliminar filas con valores infinitos o NaN en las variables independientes (X) y dependiente (y)
base = base.replace([np.inf, -np.inf], np.nan).dropna()  #Me he dado cuenta que hay filas vacías, las elimino.
#Antes hice este paso, pero para 'df', no para 'bdd'.

# Definir las variables independientes (X) y dependiente (y)
X1 = base.drop(['Ln_total_pr','Type_build','Type_opera','OBJECTID_1', 'codigo_inmueble1', 'Title', 'Link', 'Location', 'Lat_X', 'Lon_Y', 
               'Nom_Mun', 'precio_eur', 'Ln_unit_pr', 'Year_Before_1981', 'Year_1982_2006', 'Lat_X','Lon_Y', 
               'Year_After_2007', 'descripcion', 'texto_destacado', 'Description', 'Dist_CBD2', 
               'Dist_sub_center', 'COD_SEC', 'Dum_precio', 'Precio_red', 'scrap_year', 'filter_$', 
               'Muestra_2023','Climatic_Z','calificacion_consumo_letra',
               'calificacion_emision_letra','persona','COD_MUN',
               #Todas las que vienen han sido convertidas a FAC1_1 y FAC2_1
               'C_contempo', 'C_estado', 'C_armarios', 'B_contempo', 'B_estado',
               'B_lavamano', 'R_contempo', 'R_estado', 'R_carpinte', 'R_singular',
               'R_ventana'], axis=1)  # Todas las columnas excepto las mencionadas.
y2 = base[['Ln_total_pr']]  # Columna 'Ln_total_pr'

### Estandarización de los datos

De las variables de mi base de datos, debo hacer un one-hot encoding para las categóricas y una estandarización para las numéricas. Empiezo buscando aquellas que pueden ser categóricas: contaré los valores únicos en cada columna y consideraré a aquellas con un número relativamente bajo de valores únicos como categóricas.

In [10]:
# Contar los valores únicos en cada columna
unique_counts = X1.nunique()

# Filtrar las columnas con un número bajo de valores únicos (puedes ajustar este umbral según tu criterio)
categoricas = unique_counts[unique_counts < 5].index

categoricas

Index(['numero_aseo', 'ascensor', 'grand_terr_20m2', 'superficie_jardin_m2',
       'bool_despacho', 'bool_buhardilla', 'bool_trastero', 'bool_lavadero',
       'bool_piscina_comunitaria', 'bool_jardin_comunitario', 'bool_amueblado',
       'bool_ascensor', 'bool_aire_acondicionado', 'bool_calefaccion',
       'bool_chimenea', 'Dum_EPC', 'EPC_A_emision', 'EPC_B_emision',
       'EPC_C_emision', 'EPC_D_emision', 'EPC_E_emision', 'EPC_F_emision',
       'EPC_G_emision', 'dum_acces_viappal', 'calidad_cocina', 'diseny_cocina',
       'alta_calidad', 'reform_inmob', 'dum_mar_200m', 'dum_ttpp_riel_urb',
       'EPC_A_emision_2023', 'EPC_B_emision_2023', 'EPC_C_emision_2023',
       'EPC_D_emision_2023', 'EPC_E_emision_2023', 'EPC_F_emision_2023',
       'EPC_G_emision_2023'],
      dtype='object')

He ido haciendo una revisión en Excel para diferenciar aquellas que ya están convertidas a un one-hot encoding (dummies) de aquellas que son categóricas y aún necesitan el one-hot encoding.

In [11]:
#Estas ya tienen el one-hot encoding
OHE=X1[['bool_despacho', 'bool_buhardilla',
       'bool_trastero', 'bool_lavadero', 'bool_piscina_comunitaria',
       'bool_jardin_comunitario', 'bool_amueblado', 'bool_ascensor',
       'bool_aire_acondicionado', 'bool_calefaccion', 'bool_chimenea',
       'Dum_EPC', 'EPC_A_emision', 'EPC_B_emision', 'EPC_C_emision',
       'EPC_D_emision', 'EPC_E_emision', 'EPC_F_emision', 'EPC_G_emision',
       'dum_acces_viappal','calidad_cocina', 'diseny_cocina', 'alta_calidad', 
        'reform_inmob', 'dum_mar_200m', 'dum_ttpp_riel_urb',
        'EPC_A_emision_2023', 'EPC_B_emision_2023',
       'EPC_C_emision_2023', 'EPC_D_emision_2023', 'EPC_E_emision_2023',
       'EPC_F_emision_2023', 'EPC_G_emision_2023', 'grand_terr_20m2', 'ascensor']]
        
#Estas necesitan el one-hot encoding
OHEno = X1[['RW', 'FLE', 'FLS']]

Realizo el one-hot encoding.

In [12]:
# Crear codificación one-hot para las columnas 'RW', 'FLE' y 'FLS'
one_hot_rw = pd.get_dummies(OHEno['RW'], prefix='RW')
one_hot_fle = pd.get_dummies(OHEno['FLE'], prefix='FLE')
one_hot_fls = pd.get_dummies(OHEno['FLS'], prefix='FLS')

# Concatenar los DataFrames de codificación one-hot
X2 = pd.concat([one_hot_rw, one_hot_fle, one_hot_fls], axis=1)

X2.head()

,RW_3100.0,RW_4716.0,RW_9850.0,RW_12513.0,RW_32424.0,RW_34028.0,RW_501803.0,FLE_6736.0,FLE_7456.0,FLE_10661.0,...,FLE_20970.0,FLE_34244.0,FLE_277493.0,FLS_9687.0,FLS_15966.0,FLS_25455.0,FLS_36350.0,FLS_53139.0,FLS_70816.0,FLS_143879.0
0,False,False,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
1,False,False,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
2,False,False,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
3,False,False,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,False,False,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False

Y ahora hago la estandarización sobre las X que son numéricas.

In [14]:
# Crear una lista con todas las columnas de OHE y OHEno
columnas_a_eliminar = list(OHE.columns) + list(OHEno.columns)

# Eliminar las columnas de OHE y OHEno de X1
X3 = X1.drop(columns=columnas_a_eliminar)

In [15]:
#Estandarizamos los valores de X
min_max_scaler = preprocessing.MinMaxScaler()
X4 = min_max_scaler.fit_transform(X3)

In [19]:
# Convertir X2 y OHE a un array NumPy
X2_array = X2.values
OHE_array=OHE.values

# Concatenar X4, X2_array y OHE_array a lo largo del eje de las columnas (axis=1)
X_scale = np.concatenate((X4, X2_array,OHE_array), axis=1)

In [98]:
############# NO LO ESTOY USANDO ESTA VEZ

#Unimos todas las X que son útiles
# Convertir las matrices NumPy a DataFrames
X6_df = pd.DataFrame(X6)
X4_df = pd.DataFrame(X4)
X2_df = pd.DataFrame(X2)

# Reiniciar el índice de cada DataFrame para que no produzca más columnas de las esperadas
X6_reset = X6_df.reset_index(drop=True)
X4_reset = X4_df.reset_index(drop=True)
X2_reset = X2_df.reset_index(drop=True)

# Concatenar los DataFrames a lo largo del eje de las columnas (axis=1)
X_scale = pd.concat([X6_reset, X4_reset, X2_reset], axis=1)

In [22]:
X_scale_df = pd.DataFrame(X_scale)
X_scale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3846 entries, 0 to 3845
Columns: 178 entries, 0 to 177
dtypes: float64(178)
memory usage: 5.2 MB

In [20]:
# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X_scale, y2, 
                                                    test_size=0.2, random_state=42)

In [23]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping


model = Sequential([
    Dense(128, activation='relu', input_shape=(178,)),
    Dense(64, activation='relu'), 
    Dense(1)  
])

model.compile(
    optimizer=tf.keras.optimizers.Adam(0.005),
    loss='mean_squared_error', 
    metrics=['accuracy'] 
)

nnmodel = model.fit(X_train, y_train, epochs=1000,
               callbacks=[EarlyStopping(monitor='val_loss', patience=500, restore_best_weights=True)],#Datos que vienen de Akram et al. (2024)
               batch_size=6, 
               verbose=False, 
               validation_split=0.3 
              )

WARNING:tensorflow:From C:\Users\Usuari\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Usuari\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [24]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np

# Suponiendo que 'tm' es tu modelo ya entrenado

# Predicciones en el conjunto de prueba
y_pred = model.predict(X_test)

# Coefficient of determination (R2)
r2 = r2_score(y_test, y_pred)

# Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)

# Relative Absolute Error (RAE)
rae = np.sum(np.abs(y_pred - y_test)) / np.sum(np.abs(np.mean(y_test) - y_test))

# Root Relative Squared Error (RRSE)
rrse = np.sqrt(np.sum((y_pred - y_test) ** 2) / np.sum((np.mean(y_test) - y_test) ** 2))

# Root Mean Squared Error (RMSE)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Imprimir resultados
print("Coefficient of Determination (R2):", r2)
print("Mean Absolute Error (MAE):", mae)
print("Relative Absolute Error (RAE):", rae)
print("Root Relative Squared Error (RRSE):", rrse)
print("Root Mean Squared Error (RMSE):", rmse)

25/25 [==============================] - 0s 2ms/step
Coefficient of Determination (R2): 0.9834009127191782
Mean Absolute Error (MAE): 0.05113581232038538
Relative Absolute Error (RAE): Ln_total_pr    0.110236
dtype: float64
Root Relative Squared Error (RRSE): Ln_total_pr    0.128837
dtype: float64
Root Mean Squared Error (RMSE): 0.07167571005532877

Guardamos

In [27]:
import pickle

# Guardar el modelo
model.save("modelos/NN1-BCN4K")

# Guardar el historial
with open("modelos/NN1-BCN4K/history.pkl", "wb") as f:
    pickle.dump(nnmodel.history, f)

INFO:tensorflow:Assets written to: modelos/NN1-BCN4K\assets

INFO:tensorflow:Assets written to: modelos/NN1-BCN4K\assets

## Random Forest

In [31]:
y2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3846 entries, 0 to 4042
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ln_total_pr  3846 non-null   float64
dtypes: float64(1)
memory usage: 60.1 KB

In [32]:
y3 = y2.values

In [34]:
# Dividir los datos en conjuntos de entrenamiento y prueba
X_trainRF, X_testRF, y_trainRF, y_testRF = train_test_split(X_scale, y3, 
                                                    test_size=0.2, random_state=42)

In [35]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Crear el modelo de Random Forest
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Entrenar el modelo
rf_model.fit(X_train, y_train)

# Predecir sobre los datos de prueba
y_pred_rf = rf_model.predict(X_test)

# Calcular métricas de evaluación
mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)

# Imprimir las métricas
print("Random Forest - MSE:", mse_rf)
print("Random Forest - R^2:", r2_rf)

C:\Users\Usuari\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Random Forest - MSE: 0.00183643179647293
Random Forest - R^2: 0.9940664445642153

In [36]:
from sklearn.metrics import mean_absolute_error

# Calcular MAE
mae_rf = mean_absolute_error(y_test, y_pred_rf)

# Calcular RAE
rae_rf = mae_rf / np.mean(np.abs(y_test))

# Calcular RMSE
rmse_rf = np.sqrt(mean_squared_error(y_test, y_pred_rf))

# Calcular RRSE
rrse_rf = rmse_rf / np.std(y_test)

# Imprimir las métricas
print("Random Forest - MAE:", mae_rf)
print("Random Forest - RAE:", rae_rf)
print("Random Forest - RMSE:", rmse_rf)
print("Random Forest - RRSE:", rrse_rf)

Random Forest - MAE: 0.021052431830905965
Random Forest - RAE: 0.001682215985027641
Random Forest - RMSE: 0.042853608908386354
Random Forest - RRSE: Ln_total_pr    0.07703
dtype: float64

Guardamos.

In [40]:
import joblib
import json

# Guardar el modelo de Random Forest
joblib.dump(rf_model, 'modelos/RF1-BCN4K.pkl')

# Guardar el historial del modelo (history)
with open('modelos/RF1-BCN4K-history.json', 'w') as file:
    json.dump(nnmodel.history, file)