# 1. Limpieza de datos - Ejercicio 1

Para el primer ejercicio del seminario, usaremos los datos que Carlos ya tiene de un modelo previamente elaborado para un paper. Me restrinjo sólo a aquellos que fueron usados en el modelo para poder comparar lo que encuentran los estudiantes vs. lo que encontró Carlos.

In [1]:
import pandas as pd #permite manipular los dataframes, que serían el equivalente a los Excel
import numpy as np #en caso se necesiten cálculos numéricos, como p. ej. encontrar valores nulos 
import pyreadstat #para cargar datos que vienen de SPSS
import statsmodels.api as sm #para elaborar modelos OLS

base=pd.read_spss('rawdata/BDDHabitaclia_4043_join.sav')
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4043 entries, 0 to 4042
Columns: 203 entries, OBJECTID_1 to EPC_G_emision_2023
dtypes: category(1), float64(189), object(13)
memory usage: 6.2+ MB

In [5]:
# Seleccionar las columnas especificadas
selected_columns = ['Ln_total_pr', 'EPC_C_emision', 'EPC_F_emision', 'EPC_B_emision', 
                    'EPC_A_emision', 'EPC_D_emision',
                    'EPC_G_emision', 'EPC_E_emision', 'superficie', 
                    'bool_ascensor', 'bool_piscina_comunitaria', 'bool_calefaccion', 
                    'desplaz_ponderado', 'Income_Household_2016', 'FIRE_pr', 
                    'FAC1_1', 'FAC2_1', 
                    'grand_terr_20m2', 'Year_After_2007', 'DP2e', 
                    'dum_mar_200m', 
                    'bool_aire_acondicionado', 'Precio_red', 'ratio_bano_hab', 
                    'Year_1982_2006', 'opin_ruido_si_pr', 
                    'Dist_CBD2', 'H_tamaviv']

bdd = base[selected_columns].sort_index(axis=1)

# Muestra el DataFrame resultante
bdd.head()

,DP2e,Dist_CBD2,EPC_A_emision,EPC_B_emision,EPC_C_emision,EPC_D_emision,EPC_E_emision,EPC_F_emision,EPC_G_emision,FAC1_1,...,bool_aire_acondicionado,bool_ascensor,bool_calefaccion,bool_piscina_comunitaria,desplaz_ponderado,dum_mar_200m,grand_terr_20m2,opin_ruido_si_pr,ratio_bano_hab,superficie
0,14.304224,3.143035,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.191077,...,1.0,1.0,1.0,0.0,27.187629,0.0,1.0,43.530314,1.000000,86.0
1,9.873995,3.868774,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.584078,...,0.0,1.0,1.0,0.0,26.831497,0.0,0.0,41.376779,0.666667,97.0
2,11.400419,4.517012,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.151147,...,1.0,0.0,0.0,0.0,27.542064,0.0,0.0,36.155690,0.666667,77.0
3,11.540736,3.539149,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.185340,...,1.0,1.0,0.0,0.0,27.909746,0.0,0.0,36.451325,0.500000,95.0
4,11.120200,5.277817,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.479141,...,1.0,1.0,1.0,0.0,24.657258,0.0,0.0,41.172813,0.750000,163.0

No elijo todas porque algunas variables no están en el diccionario.

In [6]:
bdd.rename(columns={'FAC1_1': 'Estado_contemporaneidad_calidad'}, inplace=True)

In [7]:
bdd.rename(columns={'FAC2_1': 'Ausencia_singulares_presencia_arm_cocina'}, inplace=True)

In [8]:
bdd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4043 entries, 0 to 4042
Data columns (total 28 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   DP2e                                      4043 non-null   float64
 1   Dist_CBD2                                 4043 non-null   float64
 2   EPC_A_emision                             4043 non-null   float64
 3   EPC_B_emision                             4043 non-null   float64
 4   EPC_C_emision                             4043 non-null   float64
 5   EPC_D_emision                             4043 non-null   float64
 6   EPC_E_emision                             4043 non-null   float64
 7   EPC_F_emision                             4043 non-null   float64
 8   EPC_G_emision                             4043 non-null   float64
 9   Estado_contemporaneidad_calidad           3859 non-null   float64
 10  Ausencia_singulares_presencia_arm_cocina  3859 non-null   float64
 11  FIRE_pr                                   4043 non-null   float64
 12  H_tamaviv                                 4043 non-null   float64
 13  Income_Household_2016                     4043 non-null   float64
 14  Ln_total_pr                               4043 non-null   float64
 15  Precio_red                                4043 non-null   float64
 16  Year_1982_2006                            4043 non-null   float64
 17  Year_After_2007                           4043 non-null   float64
 18  bool_aire_acondicionado                   4043 non-null   float64
 19  bool_ascensor                             4043 non-null   float64
 20  bool_calefaccion                          4043 non-null   float64
 21  bool_piscina_comunitaria                  4043 non-null   float64
 22  desplaz_ponderado                         4043 non-null   float64
 23  dum_mar_200m                              4043 non-null   float64
 24  grand_terr_20m2                           4043 non-null   float64
 25  opin_ruido_si_pr                          4043 non-null   float64
 26  ratio_bano_hab                            4034 non-null   float64
 27  superficie                                4043 non-null   float64
dtypes: float64(28)
memory usage: 884.5 KB

In [9]:
bdd.to_csv('rawdata/Habitaclia4043_ejercicio1.csv')